body {
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  margin: 0 auto;
}
address,
button {
  font-style: normal;
}
button:hover {
  cursor: pointer;
}
h1,
h2,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin: 0;
}
a {
  text-decoration: none;
}
h2 {
  text-align: center;
}
