@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2"),
    url("../fonts/play-v19-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2"),
    url("../fonts/play-v19-latin-700.ttf") format("truetype");
}
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --main-color: #011c44;
  --color-brand: #2b7fff;
  --white-color: #ffffff;
}
body {
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  margin: 0 auto;
}
address,
button {
  font-style: normal;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin: 0;
}
a {
  text-decoration: none;
}
h2 {
  text-align: center;
}

/* header nav */
.header {
  position: absolute;
  width: 100%;
  height: 106px;
  top: 0;
  left: 0;

  background: #ffffff40;
}

.header__logo {
  padding-top: 16px;
  padding-left: 90px;
  padding-right: 240px;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  padding-bottom: 96px;
}
.container__head {
  padding: 0;
  padding-top: 32px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  height: 42px;
}

.header__links {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.header_nav {
  display: flex;
  justify-content: space-around;
  flex-grow: 2;
  flex-shrink: 0;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}
.nav__link {
  color: #000;
  transition-duration: 0.2s;
}
.nav__link:hover {
  color: var(--color-brand);
  background-color: transparent;
}
.nav__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.nav__icon {
  display: flex;
  justify-content: center;
}
.nav__icon-size {
  width: 32px;
  height: 32px;
}
.face {
  fill: var(--main-color);
}
/* top section */
.top {
}
.container__nav {
  background-image: linear-gradient(
      89.38deg,
      #ffffff 30.62%,
      rgba(255, 255, 255, 0.850898) 41.31%,
      rgba(255, 255, 255, 0.193204) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(img/Group.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  height: 658px;
}
.container__top {
  display: block;
  width: 100%;
  max-width: 529px;
  height: 408px;
  padding-left: 205px;
  padding-bottom: 126.5px;
  padding-top: 122px;
}

/* .container__top{
  padding-bottom: 178px;
} */

.header__subtitle h3 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
}
.header__title {
  font-family: "Play";
  color: var(--color-brand);
  font-size: 114px;
  font-weight: 700;
}

.call__button {
  color: var(--white-color);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  width: 219px;
  height: 53px;
  font-family: Roboto;
  font-weight: 600;
  transition-duration: 0.3s;
}
.call__button:hover {
  color: var(--main-color);
  background-color: transparent;
}
.under__button-text {
  font-size: 12px;
  line-height: 1.5;
  width: 238px;
  padding-top: 14px;
  padding-left: 14px;
}
/* about-us */

.transform__text {
  margin-bottom: 40px;
  font-size: 22px;
}
.text__decor-top {
  font-family: "Play";
  font-size: 64px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 40px;
  width: 499px;
}
.text__decor {
  font-family: "Play";
  font-size: 64px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 40px;
}
.text__decor-top .blue {
  color: var(--color-brand);
}
.text__decor .blue {
  color: var(--color-brand);
}
.second__paragraph .bold {
  font-size: 22px;
  font-weight: bold;
}
.about-us__inner {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  height: 695px;
}
.about__container {
  background-image: url(img/Star1.svg), url(img/Star2.svg), url(img/Star3.svg),
    url(img/background-vaves.jpg);
  background-position-y: 336px, 32px, 269.5px, -80%;
  background-position-x: 858px, 1212px, 1213px, 0;

  background-repeat: no-repeat;
  background-size: auto, auto, auto, cover;
}
.about-us__photo {
  width: 100%;
  max-width: 499px;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}
.about__second-photo {
  display: flex;
  align-self: flex-end;
  width: 100%;
  max-width: 327px;
  height: 327px;
  background-image: url(img/lady__face2.jpg);
  border-radius: 180px;
}
.about__first-photo {
  width: 100%;
  max-width: 327px;
  height: 327px;
  background-image: url(img/lady_face1.jpg);
  border-radius: 180px;
}

/* why-we */
.why-we__container {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(213, 231, 255, 1) 35%
  );
  /* background-image: url(img/background-vaves.jpg);
  background-position-y: 35%; */
}
.why__we-blok {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 316px;
  height: 181px;
  border-radius: 32px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px #a8c6f561;
}
.block__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 252px;
  height: 133px;
  text-align: center;
}
.block__inner-text {
  display: flex;
  justify-content: space-between;
}
.we__container {
  width: 100%;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

.arrov {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--main-color);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  cursor: pointer;
  margin-right: 32px;
  margin-left: 32px;
  transition-duration: 0.3s;
}
.arrov:hover {
  background-color: var(--color-brand);
  fill: var(--white-color);
}
.arrov.next {
  transform: rotate(180deg);
}

/* our procids */

.procids__iner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.slider__vrap {
  width: 100%;
  max-width: 1216px;
  height: 499px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gradient__img {
  position: relative;
}
.gradient {
  position: absolute;
  top: 0px;
  width: 100%;
  max-width: 344px;
  height: 100%;
  min-height: 456px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
  border-radius: 4px 120px;
}

.slider__vrap {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.slider__masks {
  border-radius: 4px 120px;
}
.slider__dot {
  display: flex;
  gap: 24px;
  padding-top: 24px;
}
.dot_element1 {
  width: 11px;
  height: 11px;
  background-color: #2b7fff;
  border-radius: 50%;
}
.dot_element2 {
  width: 11px;
  height: 11px;
  background-color: #747272;
  border-radius: 50%;
}
.dot_element3 {
  width: 11px;
  height: 11px;
  background-color: #747272;
  border-radius: 50%;
}

/* find us */
.find__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.text__decor {
  font-family: "Play";
}
.imput__form {
  width: 100%;
  max-width: 423px;
  height: 481px;
  border: 1px solid;
  border-radius: 32px;
  background-color: #011c44;
}
.call__order {
  padding: 48px 57px;
  font-family: "Roboto";
  font-weight: 600;
}
.reservation {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
.reservation .blue {
  color: var(--color-brand);
}
.footer__inner {
  font-weight: 400;
  font-size: 16px;
}

.imput__form {
  width: 100%;
  max-width: 432px;
  height: 481px;
}
.imut_aria {
  color: var(--white-color);
  border: 1px solid #747272;
  border-radius: 32px;
  width: 100%;
  height: 52px;
  background-color: var(--main-color);
  margin-bottom: 16px;
}
.imut_aria::placeholder {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
}

.reservation__buton {
  color: var(--white-color);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  width: 281px;
  height: 53px;
  padding-left: 14px;
  margin-bottom: 8px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  transition-duration: 0.3s;
}
.reservation__buton:hover {
  color: var(--main-color);
  background-color: white;
}
.button__rule {
  font-size: 12px;
  color: #747272;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button__sub {
  padding-left: 14px;
}
.beuti-logo__footer {
  color: var(--color-brand);
  font-family: "Play";
  font-weight: 700;
  font-size: 24px;
}

.form__imputs {
  width: 100%;
  max-width: 310px;
  display: flex;
  flex-direction: column;
}

/* footer */
.footer__container {
  background-color: #011c44;
  background-image: url(img/pexels-photo-8101532-PhotoRoom\ 1.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.footer__nav {
  color: #ffffff;
  margin-bottom: 16px;
  transition-duration: 0.2s;
}
.footer__nav:hover {
  color: var(--color-brand);
}
.footer__inner {
  padding-top: 56px;
  padding-left: 100px;

  /* gap: 20px; */
}
.footer__item {
  padding-bottom: 16px;
}
.logo__footer {
  color: var(--color-brand);
}
.footer__list-item {
  margin: 0;
}
.footer__contacts {
  width: 100%;
  max-width: 192px;
}
.icons__footer {
  display: flex;
  justify-content: space-between;
}
.footer__inner {
  display: flex;
  justify-content: space-around;
  color: var(--white-color);
}
.icons__footer {
  color: var(--white-color);
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.svg__img {
  width: 32px;
  height: 32px;
  filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(102deg)
    brightness(105%) contrast(104%);
}
/* modal */

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s, visibility 0.4s;
}
.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-color: var(--main-color);
  border-radius: 32px;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.drop__style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 144px;
  padding-left: 144px;
}
.decor__form {
  color: #ffffff;
  padding-top: 42px;
}
.imput__drop {
  margin-bottom: 20px;
}
.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  background-color: var(--main-color);
}

